#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
  #mydivheader {
    height: 200px;
    width: 200px;
    cursor: move;
    z-index: 10;
  }

  #movableimage{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }